@import 'css/reset.css'

$font-stack = Inconsolata, Monaco,  monospace

body
  align-items center
  background #3149B2
  color #fff
  display flex
  font-family $font-stack
  font-size 3em
  justify-content center
  min-height 100vh
