@import 'css/reset.css';
body {
  align-items: center;
  background: #3149b2;
  color: #fff;
  display: flex;
  font-family: Inconsolata, Monaco, monospace;
  font-size: 3em;
  justify-content: center;
  min-height: 100vh;
}
