doctype html
html
  head
    title My typewriter
    script(src="bower_components/webcomponentsjs/webcomponents-lite.js")
    link(rel='import' href='elements/type-writer/type-writer.html')
    link(rel='stylesheet' href='app.css')
  body
    type-writer(clear text='["Keep track of the show while spreading the vibe.","CodePen is a playground for the front end web.","Every day, thousands of people around the world write about music they love — and it all ends up here."]' speed="120" delay="3000")
